<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='employerHome.css') }}">
    <title>Employer Home</title>
</head>

<body>
<div class="navbar">
    <div class="navbar-logo">Cosmowork</div>
    <div class="navbar-links">
        <a href="#" class="navbar-link">Jobs</a>
        <form action="/logout" method="post">
            <button class="navbar-link logout-button">Logout</button>
        </form>
    </div>
</div>
<h3>{{ msg }}</h3>
<div class="card-container">
    {% for job in data %}
        <div class="card">
            <div class="card-title">{{ job[2] }}</div>
            <div class="card-details">
                {{ job[1] }}
            </div>
            <div class="card-description">
                {{ job[3] }}
            </div>
            <div class="card-description">
                {% for skill in skills %}
                    {% if skill[0] == job[0] %}
                        <span class="skill-required">{{ skill[1] }}</span>
                    {% endif %}
                {% endfor %}
            </div>
            <button class="viewjob" onclick="location.href='/appliedemployees/{{ job[0] }}'">View Job</button>
        </div>
    {% endfor %}
</div>
<a href="/addjob" class="center-button">
    <button>Add New Job</button>
</a>
</body>

</html>